# Global Reviewers
# review when someone opens a pull request.
*       @cartyc @fmichaelobrien

# CLI Reviewers
cli/*   @shaunmitchellve

# Solution Reviewers
solutions/* @davelanglois-ssc @alaincormier-ssc