export CLUSTER=<kcc cluster name>
export REGION=northamerica-northeast1
export PROJECT_ID=<Management project id>
export LZ_FOLDER_NAME=<LZ folder display name>
export NETWORK=<kcc-vpc1>
export SUBNET=<kcc-subnet1>
export ORG_ID=<Organization ID>
export ROOT_FOLDER_ID=<Folder ID> # This one is only required if using folder_opt (-f) because you are not deploying at the org level. Ex. for testing.
export BILLING_ID=<Billing ID>
export GIT_USERNAME=<Git-Username> # For Azure Devops, this is the name of the Organization
export CONFIG_SYNC_REPO=<Repo for Config Sync> # tierX repo URL
export CONFIG_SYNC_VERSION='HEAD'
export CONFIG_SYNC_DIR=<Directory for config sync repo which syncs> # Should default to csync/